body{
    background-image: linear-gradient(to bottom right, rgb(252, 0, 252), rgb(135, 6, 255));
    background-repeat: no-repeat;
    height: 590px;
}
ul{
    list-style-type: none;
    display: flex;
    margin-left: 470px;
    margin-top: -50px;
}
h3{
    color: white;
}
#para{
    color: white;
    text-align: center;
    margin-top: 50px;
}
#btn2{
    background-color: #7a00ff;
    color: white;
    padding: 15px;
    border: none;
}
p{
   color: white;
   font-size: 18px;
   line-height: 20px; 
}
li{
    margin-left: 80px;
    color: white;
}
#btn1{
     background: #fff;
    color: #7a00ff;
    padding: 10px 28px;
    border-radius: 30px;
    border: none;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

h1{
    color: white;
    font-weight: bold;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
hr{
    width: 300px;
    text-align: right;
    margin-left: 920px;
}
.logo{
    display: flex;
}
.section{
    text-align: right;
    margin-right: 40px;
    margin-top: -300px;
}
#image1{
    width: 400px;
    margin-top: 100px;
}
#studio{
    color: white;
    font-weight: 1px;
    font-size: 30px;
    letter-spacing: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
